
i. Todos los restaurantes de la base de datos.

In [ ]:
db.restaurant.find();

ii. Todos los restaurantes: únicamente los campos restaurant_id, name, cuisine.

In [ ]:
db.restaurant.find({}, {restaurant_id : 1, name : 1, cuisine : 1} );

iii.Todos los restaurantes: únicamente los campos restaurant_id, name, zipcode y SIN _id.

In [ ]:
db.restaurant.find({}, {restaurant_id : 1, name : 1, "address.zipcode" : 1, _id : 0} );

iv.Restaurante en el borough “Manhattan”.

In [ ]:
db.restaurant.find({borough : "Manhattan"});

v. Restaurantes con score mayor que 90.

In [ ]:
db.restaurant.find({grades: {$elemMatch:{"score" : {$gt: 90}}}});

vi. Restaurante con score mayor que 80 y menor que 90.

In [ ]:
db.restaurant.find({grades : { $elemMatch:{"score":{$gt : 80 , $lt :90}}}});

vii. Restaurantes ubicados en latitude menor a -95.754168.

In [ ]:
db.restaurant.find({"address.coord" : {$lt : -95.754168}});

viii. Restaurantes para los cuales cuisine es diferente de “American”, tiene un grade de “A” y no pertenece al borough “Brooklyn”.

In [ ]:
db.restaurant.find(
     { $and:
        [ 
          {"cuisine" : {$ne : "American"}},
          {"grades.grade" : {$eq : "A"}}, 
          {"borough" : {$ne : "Brooklyn"}}
        ]
    }
                  );

ix. Restaurantes en los cuales el nombre comienza por la palabra “Wil”. (Hint: usar expresión regular sobre el campo name).

In [ ]:
db.restaurant.find( { name: { $regex: /^Wil/  } } );

x. Restaurantes en los cuales la cuisine NO es “American” NI “Chinese” O el name comienza por la palabra “Wil”. (Hint: utilizar los operadores $or y $and).

In [ ]:
db.restaurant.find(
{$or: [
  {"name": {$regex: /^Wil/}}, 
  {$and: [
       {"cuisine" : {$ne :"American "}}, 
       {"cuisine" : {$ne :"Chinese"}}
   ]}
]}
);

xi. Restaurantes ordenados en ascendentemente por el name.

In [ ]:
db.restaurant.find().sort({name : 1});

xii. Restaurantes para los cuales el address.street existe. (Hint: utilizar operador $exists).

In [ ]:
 db.restaurant.find( { "address.street" : { $exists : true } } );